body {
	background-image: url(../Misc/04.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom;
}
header {
	height: 80px;
	background-color: #1F1E1E;
	border-bottom: 3px solid #00B3E3;
	-moz-box-shadow: 0px 05px 20px 0px #656565;
	-webkit-box-shadow: 0px 05px 20px 0px #000;
	-o-box-shadow: 0px 05px 20px 0px #000;
	box-shadow: 0px 05px 20px 0px #000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000, Direction=180, Strength=20);
}
li {
	list-style: none;
	display: inline-block;
	line-height: 35px;
	width: 100px;
	background-color: #2B669A;
	border: none;
	border-radius: 5px;
	padding: 0 10px;
	text-align: center;
}
ul {
	margin-left: 38%;
	margin-top: -3px;
}
ul li a {
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	display: block;
}
ul li a:hover {
	text-decoration: none;
	color: #FFF;
	display: block;
}
li:hover {
	background-color: #3D382F;
	line-height: 35px;
	padding: 0 10px;
<<<<<<< HEAD:Momo/Vue/CSS/acceuil.css
=======
}*/
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
.deconnexion .btn {
	border-radius: 50%;
>>>>>>> 662fbf8af85ac5f215a54192d2bf2060a64f2210:Vue/CSS/acceuil.css
}
.blue {
	color: #00aced !important;
	font-weight: 600;
}
.container-fluid h3 span {
	color: #FFF;
	font-family: 'Aldrich', sans-serif !important;
	vertical-align: middle;
}
.container-fluid h3 span a {
	display: inline-block;
	float: left;
	margin: 10px 0px 0px 20%;
}
.container-fluid h3 span a img {
	float: left;
	margin-top: -10px;
	width: 40px;
	vertical-align: middle;
}
.container-fluid h3 span a:hover {
	color: #FF307B;
	float: left;
	margin-top: 10px;
	text-decoration: none;
}
.col-md-4 {
	margin-left: 200px;
}
.container-fluid img[class="img-thumbnail"] {
	float: left;
	margin: -15px 0px 0px 5%;
}
.container-fluid p {
	float: left;
	margin: 5px 0px 0px 1%;
	color: #FFF;
	font-family: 'Aldrich', sans-serif !important;
	font-size: 1.7em;
}
.container-fluid p:hover {
	color: #FF307B;
}
.profil {
	background-color: #1F1E1E;
	float: left;
	margin-left: 9.5%;
	width: 500px;
	height: 500px;
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-radius-bottomleft: 50px;
	border-bottom-left-radius: 50px;
}
.profil img {
	margin: 20px 0px 0px 32.5%;
}
.container-centre {
	float: left;
	margin-left: 20px;
	min-height: 500px;
	padding: 20px;
<<<<<<< HEAD:Momo/Vue/CSS/acceuil.css
	width: 750px;
=======
	width: 625px;
>>>>>>> 662fbf8af85ac5f215a54192d2bf2060a64f2210:Vue/CSS/acceuil.css
	background-color: rgba(40, 40 ,40, 0.95);
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.clear {
	clear: both;
}
textarea {
	background-color: #FFF;
	border: none;
	height: 150px;
	padding: 20px;
	width: 710px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-bottom-right-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-bottomright: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.infos-profil {
	width: 100%;
	border-top: 3px solid #00B3E3;
	margin-top: 50px;
}
.profil p {
	margin: 10px 0px 0px 32.5%;

}
#write{
	margin-bottom: 30px;
}
.container-centre .tweazee{
	color: #FFF;
	height: 100px;
	margin-bottom: 30px;
	font-family: Helvetica !important;
	background-color: green;
}
.date {
	padding-right: 15px;
}
.container-centre .tweazee p span {
	float: right;
	color: red;
}
.container-centre .tweazee p{
	font-size: 16px;
}
.container-centre .tweazee p span{
	float: right;
}
.container-centre .tweazee p:hover {
	color: #00B3E3; 
}
#list {
	margin-top: 50px;
}