body {
	background-image: url(../Misc/01.jpg);
	background-color: #414141;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top;
	color: #FFF;
}
.blue {
	color: #00aced;
	font-weight: 600;
}
small {
	color: #FFF !important;
	font-size: 30px;
}
.container img {
	background-color: transparent;
	width: 100px;
	margin: 50px 43% 0;
	position: relative;
}
ul li {
	list-style: none;
	display: inline-block;
	line-height: 35px;
	width: 100px;
	background-color: #2B669A;
	border: none;
	border-radius: 5px;
	padding: 0 10px;
	text-align: center;
}
ul {
	margin-left: 38%;
	margin-top: -3px;
}
ul li a {
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	display: block;
}
ul li a:hover {
	text-decoration: none;
	color: #FFF;
	display: block;
}
li:hover {
	background-color: #3D382F;
	line-height: 35px;
	padding: 0 10px;
}
.btn { 
	width: 200px;
	border: none; 
}

.form-signin {
	margin: 0 auto; 
	width: 500px;
}
.form-signin-heading {
	margin-top: 70px;
}
#inputEmail {
	margin-bottom: 10px;
}