body {
	background-image: url(../Misc/02.jpg);
	background-color: #414141;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom;
}
li {
	list-style: none;
	display: inline-block;
	line-height: 35px;
	width: 100px;
	background-color: #2B669A;
	border: none;
	border-radius: 5px;
	padding: 0 10px;
	text-align: center;
}
ul {
	margin-left: 38%;
	margin-top: -3px;
}
ul li a {
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	display: block;
}
ul li a:hover {
	text-decoration: none;
	color: #FFF;
	display: block;
}
li:hover {
	background-color: #3D382F;
	line-height: 35px;
	padding: 0 10px;
}
.container {

}
#twitter {
	float: left;
	padding: 20px;
	width: 505px;
	margin: 0 100px 0px 0;
	color: #FFF;
}
#twitter img {
	background-color: transparent;
	width: 100px;
	margin: 0 35%;
	position: relative;
}
.blue {
	color: #00aced;
	font-weight: 600;
}
#twitter small {
	font-size: 30px;
}
#twitter p {
	color: #1b1b1b;
	font-size: 18px;
	line-height: 31px;
	text-align: left;
}
#formulaire {
	float: left;
	margin-top: 70px;
}
.btn { 
	width: 200px;
	border: none; 
	margin-top: 10px;
	float: left;
}
.container {
	padding: 15px;
}
#formulaire {
	background-color: rgb(27, 27, 27, 0.5);
	border-radius: 0px solid white;
	width: auto;
}
.form-signin {
	margin: 0 auto; 
	width: 500px;
}
.form-signin-heading {
	margin-top: 70px;
}
.form-control {
	margin-bottom: 10px;
}
h4 {
	margin-top: 20px;
}
#erreur p {
	font-size: 16px;
	margin-top: 50px;
}
.btn-success {
	color: #FFF;
	float: right;
	display: inline-block;
	margin-top: 10px !important;
}
.btn-success a{
	text-decoration: none;
	color: #FFF;
}