body {
	background-image: url(../Misc/03.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom;
}
header {
	height: 80px;
	background-color: #1F1E1E;
	border-bottom: 4px solid #00B3E3;
	-moz-box-shadow: 0px 05px 20px 0px #656565;
	-webkit-box-shadow: 0px 05px 20px 0px #656565;
	-o-box-shadow: 0px 05px 20px 0px #656565;
	box-shadow: 0px 05px 20px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=20);
}
.container-fluid h3 span {
	color: #FFF;
	font-family: 'Aldrich', sans-serif !important;
	vertical-align: middle;
}
.container-fluid h3 span a {
	display: inline-block;
	float: left;
	margin: 10px 0px 0px 20%;
}
.container-fluid h3 span a img {
	float: left;
	margin-top: -10px;
	width: 40px;
	vertical-align: middle;
}
.container-fluid h3 span a:hover {
	color: #FF307B;
	float: left;
	margin-top: 10px;
	text-decoration: none;
}
.container-fluid .form-control {
	display: block;
	float: left;
	height: 40px;
	background-color: #1d1d1d;
	color: #FF307B;
	margin: 0px 0px 0px 10%;
	vertical-align: middle; 
	width: 500px;
}
.container-fluid input[type="submit"] {
	display: block;
	float: left;
	height: 40px;
	margin: 0px 0px 0px 10px;
}
.container-fluid img[class="img-thumbnail"] {
	float: left;
	margin: -15px 0px 0px 10%;
}
.container-fluid p {
	float: left;
	margin: 5px 0px 0px 1%;
	color: #FFF;
	font-family: 'Aldrich', sans-serif !important;
	font-size: 1.7em;
}
.container-fluid p:hover {
	color: #FF307B;
}