body {
	height: 1000px;
}
input {
	margin-bottom: 10px;
}
ul li {
	list-style: none;
}
ul li a {
	text-decoration: none;
	color: #BA4949;
}
.container h3 span {
	font-family: 'Aldrich', sans-serif !important;
}