ul li {
	list-style: none;
	display: inline-block;
	line-height: 35px;
	width: 100px;
	background-color: #2B669A;
	border-radius: 5px;

}
ul {
	margin-left: 35%;
}
ul li a {
	padding-left: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
}
ul li a span {
	padding-left: 10px;
}
li:hover {
	background-color: #4689C3;
	color: #123456;
}
.btn {
	width: 200px;
}
