#page {
	margin-left: 25%;
	background-color: #000;
	color: #FFF;
	height: 1500px;
	width: 600px;
}
#head {
	height: 40px;
	width: 100%;
	background-color: green;
	margin-bottom: 60px;
}
#page div{
	background-color: grey;
	margin-top: 10px;
}