body {
	height: 1000px;
}
input {
	margin-bottom: 10px;
}
ul li {
	list-style: none;
}
ul li a {
	text-decoration: none;
	color: #BA4949;
}
#page {
  background-color: red;
  width: 50%;
  margin-left: 25%;
  height: 80%;
  margin-bottom: 40px;
}